openapi: 3.0.0
servers:
  - url: 'https://api.nexmo.com'
info:
  version: 1.0.0
  title: API Secret Rotation API
  description: >-
    The Nexmo API Secret Rotation API enables you to create one new API Secret in addition to the existing API Secret. Following the successful use of the new API Secret, you are able to revoke the old API Secret.
security:
  - bearerAuth: []
  - basicAuth: []
paths:
  /accounts/{accountId}/secrets:
    get:
      summary: Retrieve API Secrets
      operationId: retrieveSecrets
      parameters:
        - $ref: '#/components/parameters/accountId'
      responses:
        '200':
          description: API secret response
          content:
            application/json:
              schema:
                properties:
                  _links:
                    type: object
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                            maxLength: 32
                            description: The URI to this secret
                            example: /accounts/7c9738e6/secrets
                  _embedded:
                    type: object
                    description: A list of secrets under the "secrets" key. See [Retrieve Secret](#retrieveSecret) for a description of the returned fields
                    properties:
                      secrets:
                        type: array
                        items:
                            $ref: '#/components/schemas/SecretInfo'
        '401':
          $ref: '#/components/responses/BadCredentialsError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '405':
          $ref: '#/components/responses/MethodNotAllowedError'
        '406':
          $ref: '#/components/responses/InvalidAcceptError'
    post:
      summary: Create API Secret
      operationId: createSecret
      parameters:
        - $ref: '#/components/parameters/accountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - secret
              properties:
                secret:
                  description: |
                      The new secret must follow these rules:

                      * minimum 8 characters
                      * maximum 25 characters
                      * minimum 1 lower case character
                      * minimum 1 upper case character
                      * minimum 1 digit

                  type: string
                  example: 'example-4PI-secret'
      responses:
        '201':
          description: Secret created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretInfo'
        '400':
          content:
            application/json:
              schema:
                properties:
                  type:
                    type: string
                    maxLength: 32
                    example: >-
                      https://developer.nexmo.com/api-errors/account/secret-management#validation
                  title:
                    type: string
                    maxLength: 32
                    example: Bad Request
                  detail:
                    type: string
                    maxLength: 32
                    example: The request failed due to validation errors
                  invalid_parameters:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          maxLength: 32
                          example: secret
                        reason:
                          type: string
                          maxLength: 32
                          example: must contain 1 upper case character
                  instance:
                    $ref: '#/components/fields/instance'
        '401':
          $ref: '#/components/responses/BadCredentialsError'
        '403':
          content:
            application/json:
              schema:
                properties:
                  type:
                    type: string
                    maxLength: 32
                    example: https://developer.nexmo.com/api-errors/account/secret-management#maximum-secrets-allowed
                  title:
                    type: string
                    maxLength: 32
                    example: Maxmimum number of secrets already met
                  detail:
                    type: string
                    maxLength: 32
                    example: This account has reached maximum number of '2' allowed secrets
                  instance:
                    $ref: '#/components/fields/instance'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '406':
          $ref: '#/components/responses/InvalidAcceptError'
        '415':
          $ref: '#/components/responses/InvalidContentTypeError'

  /accounts/{accountId}/secrets/{secretId}:
    get:
      summary: Retrieve API Secret
      operationId: retrieveSecret
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/secretId'
      responses:
        '200':
          description: API secret response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretInfo'
        '401':
          $ref: '#/components/responses/BadCredentialsError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '405':
          $ref: '#/components/responses/MethodNotAllowedError'
        '406':
          $ref: '#/components/responses/InvalidAcceptError'
    delete:
      summary: Revoke API Secret
      operationId: revokeSecret
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/secretId'
      responses:
        '204':
          description: Revoked secret response
        '401':
          $ref: '#/components/responses/BadCredentialsError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '405':
          $ref: '#/components/responses/MethodNotAllowedError'
        '406':
          $ref: '#/components/responses/InvalidAcceptError'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    basicAuth:
      type: http
      scheme: basic
  parameters:
    accountId:
     name: accountId
     in: path
     description: ID of the account
     required: true
     schema:
       type: string
    secretId:
      name: secretId
      in: path
      description: ID of the API Secret
      required: true
      schema:
        type: string
  fields:
    instance:
      type: string
      maxLength: 32
      example: 797a8f199c45014ab7b08bfe9cc1c12c
  responses:
    BadCredentialsError:
      description: Credential is missing or invalid
      content:
        application/json:
          schema:
            properties:
              type:
                type: string
                maxLength: 32
                example: 'https://developer.nexmo.com/api-errors#unauthorized'
              title:
                type: string
                maxLength: 32
                example: Invalid credentials supplied
              detail:
                type: string
                maxLength: 32
                example: You did not provide correct credentials.
              instance:
                $ref: '#/components/fields/instance'
    NotFoundError:
      description: Resource could not be found
      content:
        application/json:
          schema:
            properties:
              type:
                type: string
                maxLength: 32
                example: 'https://developer.nexmo.com/api-errors#invalid-api-key'
              title:
                type: string
                maxLength: 32
                example: Invalid API Key
              detail:
                type: string
                maxLength: 32
                example: API key 'ABC123' does not exist, or you do not have access
              instance:
                $ref: '#/components/fields/instance'
    MethodNotAllowedError:
      description: The HTTP verb used is not allowed
      content:
        application/json:
          schema:
            properties:
              type:
                type: string
                maxLength: 32
                example: 'https://developer.nexmo.com/api-errors#wrong-verb'
              title:
                type: string
                maxLength: 32
                example: Request method not allowed
              detail:
                type: string
                maxLength: 32
                example: Request method 'OPTIONS' not supported
              instance:
                $ref: '#/components/fields/instance'
    InvalidAcceptError:
      description: Invalid content negotiation header sent
      content:
        application/json:
          schema:
            properties:
              type:
                type: string
                maxLength: 32
                example: 'https://developer.nexmo.com/api-errors#accept-header'
              title:
                type: string
                maxLength: 32
                example: Invalid Accept header
              detail:
                type: string
                maxLength: 32
                example: "Invalid Accept header provided. Must be one of the following: 'application/json'"
              instance:
                $ref: '#/components/fields/instance'
    InvalidContentTypeError:
      description: Invalid Content-Type header sent
      content:
        application/json:
          schema:
            properties:
              type:
                type: string
                maxLength: 32
                example: 'https://developer.nexmo.com/api-errors#content-type-header'
              title:
                type: string
                maxLength: 32
                example: Invalid Content-Type header
              detail:
                type: string
                maxLength: 32
                example: "Invalid Content-Type header provided. Must be one of the following: 'application/json'"
              instance:
                $ref: '#/components/fields/instance'
  schemas:
    SecretInfo:
      type: object
      properties:
        _links:
          type: object
          properties:
            self:
              type: object
              properties:
                href:
                  type: string
                  maxLength: 32
                  description: The URI to this secret
                  example: /accounts/7c9738e6/secrets/ad6dc56f-07b5-46e1-a527-85530e625800
        id:
          type: string
          maxLength: 32
          description: Secret ID
          example: ad6dc56f-07b5-46e1-a527-85530e625800
        created_at:
          type: string
          maxLength: 32
          description: The date/time the secret was created
          example: '2017-03-02T16:34:49Z'
    LinkSecret:
      properties:
        self:
          type: object
          allOf:
            - $ref: '#/components/schemas/SelfSecret'
    LinkSecrets:
      properties:
        self:
          type: object
          allOf:
            - $ref: '#/components/schemas/SelfSecrets'
    SelfSecret:
      properties:
        href:
          example: "http://api.nexmo.com/accounts/acc6111f/secrets/bfb562bb-bbbb-cccc-dddd-0ed7f85819d4"
          type: string
    SelfSecrets:
      properties:
        href:
          example: "http://api.nexmo.com/accounts/acc6111f/secrets"
          type: string

x-errors:
  validation:
    description: The provided payload is invalid
    resolution: Modify your request to provide a valid payload
    link:
      text: View API reference
      url: /api/account/api-secret-management#transaction

  delete-last-secret:
    description: You can not delete your last API secret
    resolution: Add another API secret before deleting this one
